/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-dec-2013, 14:06:29
    Author     : Gregor
*/

.product
{
    width: 640px;
    height: 130px;
    padding: 10px 0;
    margin-bottom: 0px;
    border-top: solid 2px rgb(255,190,0);
}

.product:hover
{
    background-color: rgba(255,190,0, 0.3);
}

.product >img, .productlijst article form div
{
    float: left; 
    padding: 5px; 
}

.product  h3
{
    display: inline-block;
    padding-top: 1px;
}

.product >img
{
    height: 110px; 
    width: 130px; 
}

.product .beschrijving, .product  h2
{
    width: 530px;
}

.product .prijs
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.product .prijs img
{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.product
{
    width: 640px;
}

.volgende
{
    float: right;
}
.vorige
{
    float: left;
}
.volgende,.vorige
{
    display: inline-block;
    margin-right: 10px;
}

.voorraad
{
    position: absolute;
    top: 5px;
    right: 10px;
}

#searchengine
{
    width: 180px;
}

#searchengine ul
{
    margin-left: 15px;
}
#searchengine li
{
	list-style: none;
    color: black;
    margin: 0px;
    margin-bottom:  2px;
    padding: 0px;
}
#searchengine li:before {
    content: "• ";
    color: rgba(255,190,0, 1);
}
#searchengine span
{
    color: black;
    cursor: pointer;
}

#searchengine span:hover
{
    text-decoration: underline;
}

.link
{
    display: inline-block;
    margin-top: 5px;
}
.catagorieList{
    width: 163px;
}

.prijsdiv
{
    width: 90px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: inline-block; 
}

.prijsdiv input[type=number]
{
    width: 30px;
}

button
{
    cursor: pointer;
    padding: 1px 2px;
    background-color: rgb(255,190,0);
    border: solid rgb(255,170,0) 2px;
    border-radius: 4px;
    margin-left: 5px;
}

button:hover
{
    background-color: rgb(255,170,0);
    border-color: rgb(255,150,0);
}